@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 id="rage_against" class="display-4 yellow-text" onmouseover="newcolor()" onmouseout="oldcolor()">This is one of my Favorite Music Video !</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
 </div>

<div class="video1">
    <iframe width="732" height="549" src="https://www.youtube.com/embed/3L4YrGaR8E4" title="Rage Against The Machine - Bulls On Parade (Official HD Video)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>


